name: Get Latest ESStatistikListeModtag ZIP-File

on:
  workflow_call:
    outputs:
      hasFoundNewZIPFile:
        description: "1 if a new ZIP-file was found, otherwise 0"
        value: ${{ jobs.get-latest-esstatistiklistemodtag-zip-file.outputs.hasFoundNewZIPFile }}
      previousFilenameNoSuffix:
        description: "Previous ESStatistikListeModtag Filename (No Suffix)"
        value: ${{ jobs.get-latest-esstatistiklistemodtag-zip-file.outputs.previousFilenameNoSuffix }}
      filenameNoSuffix:
        description: "ESStatistikListeModtag Filename (No Suffix)"
        value: ${{ jobs.get-latest-esstatistiklistemodtag-zip-file.outputs.filenameNoSuffix }}
  workflow_dispatch:

jobs:
  get-latest-esstatistiklistemodtag-zip-file:
    name: Get Latest ESStatistikListeModtag ZIP-File
    runs-on: ubuntu-latest
    outputs:
      hasFoundNewZIPFile: ${{ steps.get-latest-zip-file.outputs.hasFoundNewZIPFile }}
      previousFilenameNoSuffix: ${{ steps.get-latest-zip-file.outputs.previousFilenameNoSuffix }}
      filenameNoSuffix: ${{ steps.get-latest-zip-file.outputs.filenameNoSuffix }}
    steps:
      - name: Display runner information
        run: |
          echo "cpu-core:       $(nproc --all)"
          echo "cpu-model:      $(grep 'model name' /proc/cpuinfo | head -1 | cut -d: -f2- | sed 's/^[[:space:]]*//')"
          echo "hostname:       $(hostname)"
          echo "kernel-release: $(uname -r)"
          echo "kernel-version: $(uname -v)"
          echo "name:           $(grep '^NAME=' /etc/os-release | head -1 | cut -d= -f2- | tr -d '\"')"
          echo "platform:       $(uname -s)"
          echo "release:        $(grep '^VERSION_ID=' /etc/os-release | head -1 | cut -d= -f2- | tr -d '\"')"
          echo "total-memory:   $(grep MemTotal /proc/meminfo | awk '{print $2 * 1024}')"
      
      - name: Checkout ESStatistikListeParser-GitHub repository
        uses: actions/checkout@v5
        with:
          repository: "${{ github.repository_owner }}/ESStatistikListeParser-GitHub"
          path: "${{ github.workspace }}/"
          token: "${{ secrets.PAT }}"

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Install Python dependencies
        run: |
          pip install -r ${{ github.workspace }}/requirements.txt

      - name: Run GetLatestFile-GitHub script
        id: get-latest-zip-file
        run: |
          python ${{ github.workspace }}/GetLatestFile-GitHub.py