name: Main Workflow

on:
  workflow_dispatch:
    inputs:
      discord-upload-limit:
        description: 'Discord Upload Limit (MiB)'
        required: true
        type: string
        default: '500'
      github-upload-limit:
        description: 'GitHub Upload Limit (MiB)'
        required: true
        type: string
        default: '100'

jobs:
  # ---- JOBS ---- #
  get-latest-esstatistiklistemodtag-zip-file:
    name: Get Latest ESStatistikListeModtag ZIP-File
    uses: ./.github/workflows/get-latest-esstatistiklistemodtag-zip-file.yml
    secrets: inherit

  download-latest-esstatistiklistemodtag-zip-file:
    name: Download Latest ESStatistikListeModtag ZIP-File
    needs: get-latest-esstatistiklistemodtag-zip-file
    if: ${{ needs.get-latest-esstatistiklistemodtag-zip-file.outputs.hasFoundNewZIPFile == '1' }}
    uses: ./.github/workflows/download-latest-esstatistiklistemodtag-zip-file.yml
    secrets: inherit
    with:
      previous-filename-no-suffix: ${{ needs.get-latest-esstatistiklistemodtag-zip-file.outputs.previousFilenameNoSuffix }}
      filename-no-suffix: ${{ needs.get-latest-esstatistiklistemodtag-zip-file.outputs.filenameNoSuffix }}
      discord-upload-limit: "${{ inputs.discord-upload-limit }}"
      github-upload-limit: "${{ inputs.github-upload-limit }}"

  # ---- TRIGGER NEW WORKFLOW ---- #
  # trigger-new-workflow:
  #   name: Trigger New Workflow
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Wait until the next minute
  #       run: |
  #         now_sec=$(date -u +%S)
  #         sleep_for=$((60 - 10#$now_sec))

  #         if [ "$sleep_for" -eq 60 ]; then sleep_for=0; fi

  #         sleep "$sleep_for"

  #     - name: Trigger Workflow Dispatch
  #       uses: benc-uk/workflow-dispatch@v1
  #       with:
  #         workflow: main.yml
  #         repo: "${{ github.repository }}"
  #         token: "${{ secrets.PAT }}"
