name: Run KidVin

on:
  workflow_call:
    inputs:
      previous-filename-no-suffix:
        description: 'Previous ESStatistikListeModtag Filename (No Suffix)'
        required: true
        type: string
      filename-no-suffix:
        description: 'ESStatistikListeModtag Filename (No Suffix)'
        required: true
        type: string
      discord-upload-limit:
        description: 'Discord Upload Limit (MiB)'
        required: true
        type: string
      github-upload-limit:
        description: 'GitHub Upload Limit (MiB)'
        required: true
        type: string
  workflow_dispatch:
    inputs:
      previous-filename-no-suffix:
        description: 'Previous ESStatistikListeModtag Filename (No Suffix)'
        required: true
        type: string
      filename-no-suffix:
        description: 'ESStatistikListeModtag Filename (No Suffix)'
        required: true
        type: string
      discord-upload-limit:
        description: 'Discord Upload Limit (MiB)'
        required: true
        type: string
      github-upload-limit:
        description: 'GitHub Upload Limit (MiB)'
        required: true
        type: string

jobs:
  run-kidvin:
    name: Run KidVin
    runs-on: ubuntu-latest
    steps:
      - name: Display runner information
        run: |
          echo "cpu-core:       $(nproc --all)"
          echo "cpu-model:      $(grep 'model name' /proc/cpuinfo | head -1 | cut -d: -f2- | sed 's/^[[:space:]]*//')"
          echo "hostname:       $(hostname)"
          echo "kernel-release: $(uname -r)"
          echo "kernel-version: $(uname -v)"
          echo "name:           $(grep '^NAME=' /etc/os-release | head -1 | cut -d= -f2- | tr -d '\"')"
          echo "platform:       $(uname -s)"
          echo "release:        $(grep '^VERSION_ID=' /etc/os-release | head -1 | cut -d= -f2- | tr -d '\"')"
          echo "total-memory:   $(grep MemTotal /proc/meminfo | awk '{print $2 * 1024}')"
          
      - name: Maximize build space
        uses: AdityaGarg8/remove-unwanted-software@v5
        with:
          remove-haskell: "true"
          remove-codeql: "true"
          remove-swapfile: "true"

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          repository: "AllanVester/ESStatistikListeParser-GitHub"
          ref: "main"
          path: "${{ github.workspace }}/"
          sparse-checkout: |
            /Branch-GitHub.py
            /go.mod
            /go.sum
            /KidVin-GitHub.go
            /UploadToDiscord-GitHub.py
          sparse-checkout-cone-mode: false
          token: "${{ secrets.PAT }}"

      - name: Checkout ESStatistikListeModtag repository
        uses: actions/checkout@v4
        with:
          repository: "${{ github.repository_owner }}/${{ inputs.filename-no-suffix }}"
          ref: "main"
          path: "${{ github.workspace }}/temp/"
          sparse-checkout: |
            /ESStatistikListeModtag
          sparse-checkout-cone-mode: false
          token: "${{ secrets.PAT }}"

      - name: Stitch ESStatistikListeModtag back together
        run: |
          cat ${{ github.workspace }}/temp/ESStatistikListeModtag/*.part* > "${{ github.workspace }}/${{ inputs.filename-no-suffix }}.zip"
          file "${{ github.workspace }}/${{ inputs.filename-no-suffix }}.zip"
          
          rm -rf ${{ github.workspace }}/temp/

      - name: Checkout previous ESStatistikListeModtag repository (KidVin-branch)
        uses: actions/checkout@v4
        with:
          repository: "${{ github.repository_owner }}/${{ inputs.previous-filename-no-suffix }}"
          ref: "kidvin"
          path: "${{ github.workspace }}/temp/"
          sparse-checkout: |
            /ESStatistikListeModtag
          sparse-checkout-cone-mode: false
          token: "${{ secrets.PAT }}"

      - name: Stitch previous KidVin-files back together
        run: |
          cat ${{ github.workspace }}/temp/ESStatistikListeModtag/*.part* > "${{ github.workspace }}/previouskidvin.json"
          file "${{ github.workspace }}/previouskidvin.json"
          
          rm -rf ${{ github.workspace }}/temp/

      - name: Checkout ESStatistikListeModtag repository (KidVin-branch)
        uses: actions/checkout@v4
        with:
          repository: "${{ github.repository_owner }}/${{ inputs.filename-no-suffix }}"
          ref: "kidvin"
          path: "${{ github.workspace }}/temp/"
          sparse-checkout: |
            /ESStatistikListeModtag
          sparse-checkout-cone-mode: false
          token: "${{ secrets.PAT }}"

      - name: Set up Git
        working-directory: "${{ github.workspace }}/"
        run: |
          gh auth login --with-token <<< "${{ secrets.PAT }}"

          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global http.postBuffer 104857600

      - name: Set up Git for KidVin-branch
        working-directory: "${{ github.workspace }}/temp/"
        run: |
          if git ls-remote --exit-code --heads origin ${{ inputs.filename-no-suffix }}.zip-kidvin; then
              echo "Branch already exists, deleting and recreating..."
              
              if git show-ref --verify --quiet refs/heads/${{ inputs.filename-no-suffix }}.zip-kidvin; then
                  git branch -D ${{ inputs.filename-no-suffix }}.zip-kidvin
              fi
              git push origin --delete ${{ inputs.filename-no-suffix }}.zip-kidvin
              git checkout -b ${{ inputs.filename-no-suffix }}.zip-kidvin
          else
              echo "Branch does not exist, creating..."
              
              git checkout -b ${{ inputs.filename-no-suffix }}.zip-kidvin
          fi

          git push -u origin ${{ inputs.filename-no-suffix }}.zip-kidvin

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Install Go dependencies
        run: |
          go mod tidy

      - name: Run KidVin Go script
        run: |
          go run ${{ github.workspace }}/KidVin-GitHub.go

      - name: Archive JSON-file (KidVin)
        run: |
          mkdir -p ${{ github.workspace }}/kidvin-zip
          zip -j -r -s ${{ inputs.discord-upload-limit }}m ${{ github.workspace }}/kidvin-zip/${{ inputs.filename-no-suffix }}.json.zip ${{ github.workspace }}/kidvin.json

      - name: Archive JSON-file (NewKidVin)
        run: |
          mkdir -p ${{ github.workspace }}/newkidvin-zip
          zip -j -r -s ${{ inputs.discord-upload-limit }}m ${{ github.workspace }}/newkidvin-zip/${{ inputs.filename-no-suffix }}.json.zip ${{ github.workspace }}/newkidvin.json

      - name: Split JSON-file (KidVin)
        run: |
          mkdir -p ${{ github.workspace }}/kidvin-split
          split -d -b ${{ inputs.discord-upload-limit }}m ${{ github.workspace }}/kidvin.json ${{ github.workspace }}/kidvin-split/${{ inputs.filename-no-suffix }}.json.part
          
      - name: Split JSON-file (NewKidVin)
        run: |
          mkdir -p ${{ github.workspace }}/newkidvin-split
          split -d -b ${{ inputs.discord-upload-limit }}m ${{ github.workspace }}/newkidvin.json ${{ github.workspace }}/newkidvin-split/${{ inputs.filename-no-suffix }}.json.part

      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Python dependencies
        run: |
          pip install pymongo discord-webhook

      - name: Upload JSON-file to GitHub KidVin-branch
        working-directory: "${{ github.workspace }}/temp/"
        run: |
          mv ${{ github.workspace }}/kidvin.json ${{ github.workspace }}/temp/kidvin.json
          mv ${{ github.workspace }}/Branch-GitHub.py ${{ github.workspace }}/temp/Branch-GitHub.py
          
          python ${{ github.workspace }}/temp/Branch-GitHub.py kidvin
        env:
          FILENAME: "kidvin.json"
          FILENAME_NO_SUFFIX: "${{ inputs.filename-no-suffix }}"
          FILEPATH: "${{ github.workspace }}/temp/"
          REPOOWNER: "${{ github.repository_owner }}"
          BRANCHNAME: "${{ inputs.filename-no-suffix }}.zip-kidvin"
          GITHUB_UPLOAD_LIMIT: "${{ inputs.github-upload-limit }}"

      - name: Upload JSON-file to Discord KidVin
        run: |
          python ${{ github.workspace }}/UploadToDiscord-GitHub.py kidvin
        env:
          FILENAME: "${{ inputs.filename-no-suffix }}.json"

      - name: Remove temp-directory
        run: |
          mv ${{ github.workspace }}/temp/Branch-GitHub.py ${{ github.workspace }}/Branch-GitHub.py
          
          rm -rf ${{ github.workspace }}/temp/

      - name: Checkout ESStatistikListeModtag repository (NewKidVin-branch)
        uses: actions/checkout@v4
        with:
          repository: "${{ github.repository_owner }}/${{ inputs.filename-no-suffix }}"
          ref: "newkidvin"
          path: "${{ github.workspace }}/temp/"
          sparse-checkout: |
            /ESStatistikListeModtag
          sparse-checkout-cone-mode: false
          token: "${{ secrets.PAT }}"

      - name: Set up Git for NewKidVin-branch
        working-directory: "${{ github.workspace }}/temp/"
        run: |
          if git ls-remote --exit-code --heads origin ${{ inputs.filename-no-suffix }}.zip-newkidvin; then
              echo "Branch already exists, deleting and recreating..."
              
              if git show-ref --verify --quiet refs/heads/${{ inputs.filename-no-suffix }}.zip-newkidvin; then
                  git branch -D ${{ inputs.filename-no-suffix }}.zip-newkidvin
              fi
              git push origin --delete ${{ inputs.filename-no-suffix }}.zip-newkidvin
              git checkout -b ${{ inputs.filename-no-suffix }}.zip-newkidvin
          else
              echo "Branch does not exist, creating..."
              
              git checkout -b ${{ inputs.filename-no-suffix }}.zip-newkidvin
          fi

          git push -u origin ${{ inputs.filename-no-suffix }}.zip-newkidvin

      - name: Upload JSON-file to GitHub NewKidVin-branch
        working-directory: "${{ github.workspace }}/temp/"
        run: |
          mv ${{ github.workspace }}/newkidvin.json ${{ github.workspace }}/temp/newkidvin.json
          mv ${{ github.workspace }}/Branch-GitHub.py ${{ github.workspace }}/temp/Branch-GitHub.py
          
          python ${{ github.workspace }}/temp/Branch-GitHub.py newkidvin
        env:
          FILENAME: "newkidvin.json"
          FILENAME_NO_SUFFIX: "${{ inputs.filename-no-suffix }}"
          FILEPATH: "${{ github.workspace }}/temp/"
          BRANCHNAME: "${{ inputs.filename-no-suffix }}.zip-newkidvin"
          GITHUB_UPLOAD_LIMIT: "${{ inputs.github-upload-limit }}"

      - name: Upload JSON-file to Discord NewKidVin
        run: |
          python ${{ github.workspace }}/UploadToDiscord-GitHub.py newkidvin
        env:
          FILENAME: "${{ inputs.filename-no-suffix }}.json"